.container-fluid {
  background: url("/assets/images/wellthy_bg.png") no-repeat center right;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -o-background-size: contain;
  height: 100vh;

  .content-wrapper {
    padding: 150px 0 0 20%;

    .logo-wrapper {
      text-align: left;
      .logo {
        img {
          width: 200px;
          height: auto;
        }
      }
    }

    .header-wrapper {
      text-align: left;
      margin-top: 50px;
    }

    .appstore-buttons-wrapper {
      text-align: left;
      margin-top: 30px;

      .app-buttons {
        display: inline-block;

        img {
          width: 200px;
          height: auto;
          border-radius: 5px;
        }
        .app-store-img {
          margin-left: 10px;
        }
      }
    }
    .form-wrapper {
      margin-top: 20%;
      text-align: left;

      .form-description {
        color: #acacab;
      }
      .username {
        background-color: #e8eae8;
        border: none;
        border-radius: 10px;
        height: 40px;
        &:focus {
          outline: none;
          box-shadow: none;
          border: none;
        }
      }

      .input-group {
        input {
          background-color: #e8eae8;
          border: none;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          &:focus {
            outline: none;
            box-shadow: none;
            border: none;
          }
        }
        .input-group-text {
          background-color: #e8eae8;
          border: none;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }

      .caret {
        margin-top: 5px;
        color: #fb8e38;
      }

      .btn-warning {
        background-color: #fb8e38;
        border-radius: 10px;
        &.active {
          background-color: #549c45;
          border-color: #549c45;
        }

        span {
          color: white;
          font-size: 12px;

          &.active {
            font-weight: bold;
            font-size: 16px;
          }
        }

        .fa {
          color: white;
          font-size: 20px;

          &.active {
            animation: slide-in 0.3s forwards;
            -webkit-animation: slide-in 0.3s forwards;
          }
        }

        @keyframes slide-in {
          0% {
            -webkit-transform: translateX(100%);
          }
          100% {
            -webkit-transform: translateX(0%);
          }
        }
      }
    }

    .form-control.ng-touched.ng-invalid {
      border: 1px solid red;
    }
    .form-control.ng-touched.ng-valid {
      border: 1px solid green;
    }

    .btn {
      &:focus {
        box-shadow: none;
      }
    }

    .btn-custom {
      width: 100px;
    }

    .btn-warning:disabled,
    .btn-warning.disabled {
      color: #fff;
      background-color: rgb(190, 190, 190) !important;
      border-color: rgb(190, 190, 190);
    }

    .btn-ripple {
      display: inline-block;
      position: relative;
      overflow: hidden;
      transition: all ease-in-out 0.5s;
    }

    .btn-ripple::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 25%;
      height: 100%;
      width: 50%;
      background-color: #fff;
      border-radius: 50%;
      opacity: 0;
      pointer-events: none;
      transition: all ease-in-out 1s;
      transform: scale(5, 5);
    }

    .btn-ripple:active::after {
      padding: 0;
      margin: 0;
      opacity: 0.2;
      transition: 0s;
      transform: scale(0, 0);
    }

    /* Ripple effect */
    .input-ripple {
      background-position: center;
      transition: background 0.8s;

      &:hover {
        background: lightgrey
          radial-gradient(circle, transparent 1%, lightgrey 1%) center/15000%;
      }

      &:active {
        background-color: lightgrey;
        background-size: 100%;
        transition: background 0s;
      }
    }
  }

  .content {
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .appstore-buttons-wrapper {
    .app-buttons {
      img {
        width: 100px !important;
        height: auto;
        border-radius: 5px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container-fluid {
    background: url("/assets/images/wellthy_bg_small.png") no-repeat center top;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    height: 100vh;

    .content {
      height: 550px;
    }

    .content-wrapper {
      padding: 0;

      .logo-wrapper {
        text-align: center;
      }
      .header-wrapper {
        text-align: center;
      }
      .appstore-buttons-wrapper {
        text-align: center;
      }
      .form-wrapper {
        text-align: center;
      }
    }
  }
}
