<div class="container-fluid">
  <div class="row back">
    <div class="col-sm-6 order-sm-first order-last">
      <div class="content-wrapper">
        <div class="logo-wrapper">
          <div class="logo">
            <img src="assets/images/welthy_logo.png" />
          </div>
        </div>
        <div class="header-wrapper">
          <div class="header">
            <h1>Download & install the app for more details</h1>
          </div>
        </div>
        <div class="appstore-buttons-wrapper">
          <div class="app-buttons">
            <img *ngIf="isAndroid" src="assets/images/google-play-badge.png" />
            <img
              *ngIf="isIOS"
              class="app-store-img"
              src="assets/images/app-store-badge1.png"
            />
          </div>
        </div>
        <div class="form-wrapper">
          <p class="form-description">
            or, enter your user name and mobile number to get the link
          </p>
          <form [formGroup]="loginform">
            <div class="row">
              <div class="col-sm-8">
                <input
                  formControlName="username"
                  type="text"
                  class="form-control username"
                  placeholder="Enter Username"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
                <div
                  *ngIf="
                    username.invalid && (username.dirty || username.touched)
                  "
                  class="text-danger"
                >
                  <small *ngIf="username.errors.required">
                    Username is required.
                  </small>
                  <small *ngIf="username.errors.minlength">
                    Username must be at least 6 characters long.
                  </small>
                  <small *ngIf="username.errors.maxlength">
                    Username must not be more than 30 characters.
                  </small>
                  <small *ngIf="loginform.controls.username.errors.invalidMsg">
                    {{ loginform.controls.username.errors.invalidMsg }}
                  </small>
                </div>
              </div>
              <div class="col-sm-4"></div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-8">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"
                      >91 <span class="caret">^</span></span
                    >
                  </div>
                  <input
                    formControlName="phone"
                    type="text"
                    class="form-control"
                    placeholder="Enter Mobile Number"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>

                <div
                  *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                  class="text-danger"
                >
                  <small *ngIf="phone.errors.required">
                    Mobile number is required.
                  </small>
                  <small *ngIf="phone.errors.pattern">
                    Please enter valid 10 digits mobile number
                  </small>
                </div>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-warning" [disabled]="loginform.invalid">
                  <span>Get link</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="content"></div>
    </div>
  </div>
</div>
